@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

.sub {
	/* display: flex; */
	width: 75%;
	margin-left: 15%;
	margin-bottom: 0;
	flex-direction: column;
	flex-shrink: 0;
	color: #060011;
	font-family: Inter;
	font-size: 65px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -1.36px;
	
}
/* .every{
	background: radial-gradient(circle ,rgb(170, 178, 182),rgb(180, 107, 216));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	
} */
.every {
	text-shadow: 0 5px 10px #c2c8ec,
		0 2px 0 #9d95f8, 
		0 11px 0 #322676, 
		0 4px 0 #191376, 
		0 5px 0 #11074a, 
		0 5px 0 #180741, 
		0 15px 0 #290b58, 
		0 1px 0 #0c0e39, 
		0 19px 10px rgb(83, 80, 77);
}

main {
	display: grid;
	place-items: center; 
	min-height: 100vh;   
	margin-right: 20vw;
  
}
.sub-sub {
	display: flex;
	width: 70%;
	margin-left: 15.5%;
	margin-top: 1%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #635878;
	font-family: Inter;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.68px;
}

.landing-button {
	display: flex;
	width: 15%;
	height: 15%;
	margin-left: 15.5%;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 10px;
	background: #A58FCC;
	color: #010003;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.51px;
	cursor: pointer;
	border: none;
	transition: box-shadow 0.3s ease;
}

.landing-button:hover {
	background-color: #7b669f;
	box-shadow: 0 5px 15px rgba(68, 57, 109, 0.3) !important; 
}

.background_img {
		margin:5vw;
		position: absolute; 
		top: 0;
		right: 0;
		height: 85%;
		object-fit: contain;
		z-index: -1; 
}

.container{
	margin-left:5vw;
}